html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  font-family: "Josefin Sans", sans-serif;
  color: hsl(0, 36%, 70%);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  background-image: url("images/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* div {
  border: 1px solid red;
} */

.hidden {
  display: none;
}

.error {
  border: 2px solid hsl(0, 93%, 68%);
}

.landing {
  display: grid;
  grid-template-columns: 60% 40%;
  height: 100%;
}

h1 {
  font-weight: 600;
  letter-spacing: 10px;
  color: hsl(0, 6%, 24%);
  margin-top: 20%;
  font-size: 4rem;
  line-height: normal;
}

h1 span {
  color: hsl(0, 36%, 70%);
  display: block;
  font-weight: 300;
}

.content {
  max-width: 450px;
  min-width: 300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.content-body {
  margin-bottom: 3rem;
}

.logo {
  position: absolute;
  top: 4rem;
  content: url("images/logo.svg");
}

.user-input {
  position: relative;
}

input {
  width: 99%;
  height: 50px;
  box-sizing: border-box;
  background: transparent;
  border: 1px solid hsl(0, 6%, 24%, 0.3);
  border-radius: 2rem;
  color: hsl(0, 6%, 24%, 0.3);
  padding: 0 2rem;
}

input:focus {
  outline: none;
}

.error-message {
  color: hsl(0, 93%, 68%);
  padding: 0 2rem;
  font-size: 12px;
}

label {
  display: none;
}

button {
  width: 90px;
  height: 50px;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  border: 0px solid transparent;
  border-radius: 2rem;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0;
}

.icon-error {
  content: url("images/icon-error.svg");
  position: absolute;
  top: 12.5px;
  right: 100px;
}

button:hover {
  cursor: pointer;
}

button:active {
  background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 80%, 86%));
}

.image {
  background-image: url("images/hero-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: rgb(62, 82, 163);
}

@media (max-width: 500px) {
  body {
    background-image: none;
    background-color: hsl(0, 36%, 70%, 0.2);
  }
  h1 {
    text-align: center;
    margin-top: auto;
    font-size: 2.5rem;
  }
  .landing {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
  .content {
    grid-row: 2/2;
    align-items: normal;
    padding: 0 3rem;
    align-items: center;
  }
  .content-body {
    margin-bottom: 2rem;
  }
  .image {
    background-image: url("images/hero-mobile.jpg");
    grid-row: 1/2;
    margin-top: 5rem;
  }
  .logo {
    top: 1.5rem;
    left: 2.5rem;
  }
}
