.faq {
  width: 50%;
  height: 100%;
  display: inline-block;
  position: absolute;
  padding-top: 2rem;
}

.faq h1 {
  color: hsl(237, 12%, 33%);
  margin: 0;
  padding-top: 2rem;
}

.accordion {
  padding-right: 20%;
}

.accordion-item .icon-arrow-down {
  width: 0.75rem;
  height: 1rem;
  float: right;
  background: url(../images/icon-arrow-down.svg) no-repeat;
  background-size: contain;
}

.accordion-item:not(.collapsed) .icon-arrow-down {
  transform: rotate(-180deg);
}

.accordion-item:not(.collapsed) .accordion-header {
  font-weight: 700;
  border-bottom: 0;
}

.accordion-item .accordion-body {
  display: none;
}

.accordion-item:not(.collapsed) .accordion-body {
  display: block;
}

.accordion-header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 0.5rem;
  color: hsl(237, 12%, 33%);
  border-bottom: 1px solid hsl(240, 6%, 50%);
}

.accordion-header:hover {
  font-weight: 700;
  cursor: pointer;
}

.accordion-body {
  padding-bottom: 1rem;
  padding-right: 1rem;
  border-bottom: 1px solid hsl(240, 6%, 50%);
  font-size: 11px;
}

@media screen and (max-width: 950px) {
  .faq {
    display: block;
    width: 80%;
    height: 375px;
    position: static;
    margin: 0 auto;
    padding: 0;
  }

  .faq h1 {
    text-align: center;
    padding: 1rem 0;
  }

  .accordion {
    padding-right: 0;
  }
}
